In [1]:
#Q1
import pandas as pd

df_q1 = pd.DataFrame([["tom","reacher",25],["bruce","wayne",30],["peter","parker",26],["bruce","banner",22]],columns=["FName","LName","Age"])

df_q1

   FName    LName  Age
0    tom  reacher   25
1  bruce    wayne   30
2  peter   parker   26
3  bruce   banner   22

In [2]:
#Q2
import pandas as pd
df = pd.read_excel("nba.xlsx")
df.info()
pd.set_option("display.max_rows",500)
pd.set_option('display.max_columns', None)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      458 non-null    object
 1   Team      458 non-null    object
 2   Number    458 non-null    int64
 3   Position  458 non-null    object
 4   Age       458 non-null    int64
 5   Weight    458 non-null    int64
 6   College   374 non-null    object
 7   Salary    447 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 28.8+ KB

In [3]:
#2a) Determine if there is duplicated data. If duplicated data is found, advise on the number of such duplicated rows and remove such duplicated rows.
print(df[df.duplicated()])    #ROW 254 AND 380 is Duplicated
df.drop_duplicates(inplace=True)
print("---------------------------------------------------")

df.info()       
print("---------------------------------------------------")

                   Name             Team  Number Position  Age  Weight  \
254  Donatas Motiejunas  Houston Rockets      20       PF   25     222
380         Joe Johnson       Miami Heat       2       SF   34     240

      College     Salary
254       NaN  2288205.0
380  Arkansas   261894.0
---------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Index: 456 entries, 0 to 457
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      456 non-null    object
 1   Team      456 non-null    object
 2   Number    456 non-null    int64
 3   Position  456 non-null    object
 4   Age       456 non-null    int64
 5   Weight    456 non-null    int64
 6   College   373 non-null    object
 7   Salary    445 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 32.1+ KB
---------------------------------------------------

In [4]:
#2b)identify all the null or empty values in the “College” column and replace them with the string “No college”. 

print(df.info())
df["College"].fillna("No college",inplace=True)
print("---------------------------------------------------")
print(df.info())       
print("---------------------------------------------------")

<class 'pandas.core.frame.DataFrame'>
Index: 456 entries, 0 to 457
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      456 non-null    object
 1   Team      456 non-null    object
 2   Number    456 non-null    int64
 3   Position  456 non-null    object
 4   Age       456 non-null    int64
 5   Weight    456 non-null    int64
 6   College   373 non-null    object
 7   Salary    445 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 32.1+ KB
None
---------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Index: 456 entries, 0 to 457
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      456 non-null    object
 1   Team      456 non-null    object
 2   Number    456 non-null    int64
 3   Position  456 non-null    object
 4   Age       456 non-null    int64
 5   Weight    456 non-null    int64
 6   College   456 non-null    object
 7   Salary    445 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 32.1+ KB
None
---------------------------------------------------

In [6]:
"""
2c) Select all the rows that identify up and coming NBA star players. The basic criteria is players whose age is less than or equal to 25.
Show their name, team and age. Save the data to another spreadsheet named “nba_young_stars.xlsx”
"""
young_stars = df[df['Age'] <= 25]
young_stars = young_stars[['Name', 'Team', 'Age']]
print(young_stars)

young_stars.to_excel('nba_young_stars.xlsx', index=False)

                         Name                    Team  Age
0               Avery Bradley          Boston Celtics   25
1                 Jae Crowder          Boston Celtics   25
3                 R.J. Hunter          Boston Celtics   22
6               Jordan Mickey          Boston Celtics   21
7                Kelly Olynyk          Boston Celtics   25
8                Terry Rozier          Boston Celtics   22
9                Marcus Smart          Boston Celtics   22
10            Jared Sullinger          Boston Celtics   24
13                James Young          Boston Celtics   20
16               Markel Brown           Brooklyn Nets   24
18    Rondae Hollis-Jefferson           Brooklyn Nets   21
20             Sergey Karasev           Brooklyn Nets   22
22               Shane Larkin           Brooklyn Nets   23
24           Chris McCullough           Brooklyn Nets   21
26            Thomas Robinson           Brooklyn Nets   25
32     Thanasis Antetokounmpo         New York Knicks   23
35           Cleanthony Early         New York Knicks   25
36          Langston Galloway         New York Knicks   24
37               Jerian Grant         New York Knicks   23
40         Kristaps Porzingis         New York Knicks   20
44           Derrick Williams         New York Knicks   25
45                Tony Wroten         New York Knicks   23
47              Isaiah Canaan      Philadelphia 76ers   25
48           Robert Covington      Philadelphia 76ers   25
49                Joel Embiid      Philadelphia 76ers   22
50               Jerami Grant      Philadelphia 76ers   22
51             Richaun Holmes      Philadelphia 76ers   22
53           Kendall Marshall      Philadelphia 76ers   24
54             T.J. McConnell      Philadelphia 76ers   24
55               Nerlens Noel      Philadelphia 76ers   22
56              Jahlil Okafor      Philadelphia 76ers   20
58               Nik Stauskas      Philadelphia 76ers   22
59            Hollis Thompson      Philadelphia 76ers   25
60             Christian Wood      Philadelphia 76ers   20
61            Bismack Biyombo         Toronto Raptors   23
62              Bruno Caboclo         Toronto Raptors   20
66                Cory Joseph         Toronto Raptors   24
68             Lucas Nogueira         Toronto Raptors   23
70              Norman Powell         Toronto Raptors   23
71              Terrence Ross         Toronto Raptors   25
74          Jonas Valanciunas         Toronto Raptors   24
75               Delon Wright         Toronto Raptors   24
77            Harrison Barnes   Golden State Warriors   24
79                  Ian Clark   Golden State Warriors   25
85               Kevon Looney   Golden State Warriors   20
86       James Michael McAdoo   Golden State Warriors   23
94             Branden Dawson    Los Angeles Clippers   23
104             Austin Rivers    Los Angeles Clippers   23
105               C.J. Wilcox    Los Angeles Clippers   25
107               Tarik Black      Los Angeles Lakers   24
108             Anthony Brown      Los Angeles Lakers   23
110           Jordan Clarkson      Los Angeles Lakers   24
113                Ryan Kelly      Los Angeles Lakers   25
114           Larry Nance Jr.      Los Angeles Lakers   23
115             Julius Randle      Los Angeles Lakers   21
116          D'Angelo Russell      Los Angeles Lakers   20
122              Devin Booker            Phoenix Suns   19
124        Donatas Motiejunas         Houston Rockets   25
125            Archie Goodwin            Phoenix Suns   21
126              John Jenkins            Phoenix Suns   25
127            Brandon Knight            Phoenix Suns   24
128                  Alex Len            Phoenix Suns   22
130              Phil Pressey            Phoenix Suns   25
134               T.J. Warren            Phoenix Suns   22
135             Alan Williams            Phoenix Suns   23
136                Quincy Acy        Sacramento Kings   25
141       Willie Cauley-Stein        Sacramento Kings   22
143          DeMarcus Cousins        Sacramento Kings   25
144                Seth Curry        Sacramento Kings   25
145                Duje Dukan        Sacramento Kings   24
148              Ben McLemore        Sacramento Kings   23
149             Eric Moreland        Sacramento Kings   24
151          Cameron Bairstow           Chicago Bulls   25
155         Cristiano Felicio           Chicago Bulls   23
159            Doug McDermott           Chicago Bulls   24
160            Nikola Mirotic           Chicago Bulls   25
163              Bobby Portis           Chicago Bulls   21
165                Tony Snell           Chicago Bulls   24
166       Matthew Dellavedova     Cleveland Cavaliers   25
168              Kyrie Irving     Cleveland Cavaliers   24
175              Jordan McRae     Cleveland Cavaliers   25
177             Iman Shumpert     Cleveland Cavaliers   25
179          Tristan Thompson     Cleveland Cavaliers   25
184             Lorenzo Brown         Detroit Pistons   25
185            Reggie Bullock         Detroit Pistons   25
186  Kentavious Caldwell-Pope         Detroit Pistons   23
187         Spencer Dinwiddie         Detroit Pistons   23
188            Andre Drummond         Detroit Pistons   22
189             Tobias Harris         Detroit Pistons   23
190           Darrun Hilliard         Detroit Pistons   23
192           Stanley Johnson         Detroit Pistons   20
197          Rakeem Christmas          Indiana Pacers   24
202              Solomon Hill          Indiana Pacers   25
206        Glenn Robinson III          Indiana Pacers   22
208              Myles Turner          Indiana Pacers   20
209        Shayne Whittington          Indiana Pacers   25
210                 Joe Young          Indiana Pacers   23
211     Giannis Antetokounmpo         Milwaukee Bucks   21
213   Michael Carter-Williams         Milwaukee Bucks   24
214          Jared Cunningham         Milwaukee Bucks   25
215               Tyler Ennis         Milwaukee Bucks   21
216               John Henson         Milwaukee Bucks   25
217             Damien Inglis         Milwaukee Bucks   21
219           Khris Middleton         Milwaukee Bucks   24
222       Johnny O'Bryant III         Milwaukee Bucks   23
223             Jabari Parker         Milwaukee Bucks   21
226             Rashad Vaughn         Milwaukee Bucks   19
227           Justin Anderson        Dallas Mavericks   22
239             Dwight Powell        Dallas Mavericks   24
246              Clint Capela         Houston Rockets   22
247                Sam Dekker         Houston Rockets   22
250          Montrezl Harrell         Houston Rockets   22
252            Terrence Jones         Houston Rockets   24
253            K.J. McDaniels         Houston Rockets   23
257              Jordan Adams       Memphis Grizzlies   21
263              Bryce Cotton       Memphis Grizzlies   23
266            JaMychal Green       Memphis Grizzlies   25
267             P.J. Hairston       Memphis Grizzlies   23
268             Jarell Martin       Memphis Grizzlies   22
269              Ray McCallum       Memphis Grizzlies   24
270            Xavier Munford       Memphis Grizzlies   24
272          Lance Stephenson       Memphis Grizzlies   25
281             Anthony Davis    New Orleans Pelicans   23
282        Bryce Dejean-Jones    New Orleans Pelicans   23
284               James Ennis    New Orleans Pelicans   25
286               Tim Frazier    New Orleans Pelicans   25
289           Jordan Hamilton    New Orleans Pelicans   25
290              Jrue Holiday    New Orleans Pelicans   25
295             Kyle Anderson       San Antonio Spurs   22
301             Kawhi Leonard       San Antonio Spurs   24
310          Tim Hardaway Jr.           Atlanta Hawks   24
316              Mike Muscala           Atlanta Hawks   24
317           Lamar Patterson           Atlanta Hawks   24
318           Dennis Schroder           Atlanta Hawks   22
322            Walter Tavares           Atlanta Hawks   24
325              Troy Daniels       Charlotte Hornets   24
328            Aaron Harrison       Charlotte Hornets   21
331        Frank Kaminsky III       Charlotte Hornets   23
332    Michael Kidd-Gilchrist       Charlotte Hornets   22
333               Jeremy Lamb       Charlotte Hornets   24
338               Cody Zeller       Charlotte Hornets   23
345             Tyler Johnson              Miami Heat   24
347           Josh Richardson              Miami Heat   22
350             Briante Weber              Miami Heat   23
352           Justise Winslow              Miami Heat   20
355             Evan Fournier           Orlando Magic   23
356              Aaron Gordon           Orlando Magic   20
357             Mario Hezonja           Orlando Magic   21
360              Devyn Marble           Orlando Magic   23
361            Shabazz Napier           Orlando Magic   24
363            Victor Oladipo           Orlando Magic   24
364             Elfrid Payton           Orlando Magic   22
366            Nikola Vucevic           Orlando Magic   25
369              Bradley Beal      Washington Wizards   22
371              Jarell Eddie      Washington Wizards   24
377           Kelly Oubre Jr.      Washington Wizards   20
378           Otto Porter Jr.      Washington Wizards   23
383                 John Wall      Washington Wizards   25
386               Will Barton          Denver Nuggets   25
390               Gary Harris          Denver Nuggets   21
391              Nikola Jokic          Denver Nuggets   21
392         Joffrey Lauvergne          Denver Nuggets   24
394           Emmanuel Mudiay          Denver Nuggets   20
396              Jusuf Nurkic          Denver Nuggets   21
397            JaKarr Sampson          Denver Nuggets   23
398              Axel Toupane          Denver Nuggets   23
402                Tyus Jones  Minnesota Timberwolves   20
403               Zach LaVine  Minnesota Timberwolves   21
404          Shabazz Muhammad  Minnesota Timberwolves   23
405             Adreian Payne  Minnesota Timberwolves   25
408               Ricky Rubio  Minnesota Timberwolves   25
410                Greg Smith  Minnesota Timberwolves   25
411        Karl-Anthony Towns  Minnesota Timberwolves   20
412            Andrew Wiggins  Minnesota Timberwolves   21
413              Steven Adams   Oklahoma City Thunder   22
417              Josh Huestis   Oklahoma City Thunder   24
419               Enes Kanter   Oklahoma City Thunder   24
420              Mitch McGary   Oklahoma City Thunder   24
423             Cameron Payne   Oklahoma City Thunder   21
424            Andre Roberson   Oklahoma City Thunder   24
426              Dion Waiters   Oklahoma City Thunder   24
428           Cliff Alexander  Portland Trail Blazers   20
429           Al-Farouq Aminu  Portland Trail Blazers   25
430           Pat Connaughton  Portland Trail Blazers   23
431              Allen Crabbe  Portland Trail Blazers   24
433          Maurice Harkless  Portland Trail Blazers   23
436            Meyers Leonard  Portland Trail Blazers   24
437            Damian Lillard  Portland Trail Blazers   25
438             C.J. McCollum  Portland Trail Blazers   24
439              Luis Montero  Portland Trail Blazers   23
442               Noah Vonleh  Portland Trail Blazers   20
444                Trey Burke               Utah Jazz   23
445                Alec Burks               Utah Jazz   24
446                Dante Exum               Utah Jazz   20
447            Derrick Favors               Utah Jazz   24
448               Rudy Gobert               Utah Jazz   23
450               Rodney Hood               Utah Jazz   23
453                Trey Lyles               Utah Jazz   20
455                 Raul Neto               Utah Jazz   24